/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "cities";

body {
  background-color: rgba(232, 231, 231, 0.89);
}

.container {
  background-color: white;
  border: 1px solid rgba(154, 154, 154, 0.69);
  min-height: 1000px;
}

.flash-message {
  width: 100%;

}

.error {
  background-color: rgba(217, 83, 79, 0.75);
  color: #d43f3a;
}

.success{
  background-color: rgba(44, 178, 10, 0.92);;
  color: rgb(25, 123, 0);;
}
